<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="NewsSystemDb"
         connectionString="
         provider=System.Data.SqlClient;
         provider connection string=&quot;
         data source=05bbefd6-d391-4b3d-bb0b-a21a00e7307f.sqlserver.sequelizer.com;
         initial catalog=db05bbefd6d3914b3dbb0ba21a00e7307f;
         user id=hryjgtvdzooafwel;password=DVni8wBJvUQ4iahYm26nRNNV5ussqrEoGhQsjbA4mvbAe586ASVu56RYgzmMdjte;
         MultipleActiveResultSets=True;
         App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>