<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../../Scripts/jquery-2.0.3.js"></script>
</head>
<body>
    <form id="uploadImage" enctype="multipart/form-data">
        <label>
            Using JQuery</label>
        <input name="file" type="file" />
        <input type="button" id="Upload" value="Upload" />
    </form>
    <script type="text/javascript">
        $(function () {
            $('#Upload').click(function () {
                var formData = new FormData($('form')[0]);
                $.ajax({
                    url: 'http://localhost:62248/api/images/upload',
                    type: 'POST',
                    // Form data
                    data: formData,
                    //Options to tell JQuery not to process data or worry about content-type
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>
</body>
</html>
